<div>
    <h2 id="page-heading">
        <span jhiTranslate="hamrofoodmanduApp.trayFood.home.title">Tray Foods</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tray-food" [routerLink]="['/tray-food/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hamrofoodmanduApp.trayFood.home.createLabel">
            Create new Tray Food
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="trayFoods">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span jhiTranslate="hamrofoodmanduApp.trayFood.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalCharge"><span jhiTranslate="hamrofoodmanduApp.trayFood.totalCharge">Total Charge</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="hamrofoodmanduApp.trayFood.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="extra"><span jhiTranslate="hamrofoodmanduApp.trayFood.extra">Extra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trayId"><span jhiTranslate="hamrofoodmanduApp.trayFood.tray">Tray</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="foodName"><span jhiTranslate="hamrofoodmanduApp.trayFood.food">Food</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trayFood of trayFoods ;trackBy: trackId">
                <td><a [routerLink]="['/tray-food', trayFood.id, 'view' ]">{{trayFood.id}}</a></td>
                <td>{{trayFood.quantity}}</td>
                <td>{{trayFood.totalCharge}}</td>
                <td>{{trayFood.creationDate | date:'mediumDate'}}</td>
                <td>{{trayFood.extra}}</td>
                <td>
                    <div *ngIf="trayFood.trayId">
                        <a [routerLink]="['../tray', trayFood.trayId , 'view' ]" >{{trayFood.trayId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="trayFood.foodId">
                        <a [routerLink]="['../food', trayFood.foodId , 'view' ]" >{{trayFood.foodName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tray-food', trayFood.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tray-food', trayFood.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tray-food/'+ trayFood.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="trayFoods && trayFoods.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
