<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="food">
            <h2><span jhiTranslate="hamrofoodmanduApp.food.detail.title">Food</span> {{food.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hamrofoodmanduApp.food.name">Name</span></dt>
                <dd>
                    <span>{{food.name}}</span>
                </dd>
                <dt><img id="img" class="card-img-top" alt="Card image cap" [src]="getImage(food.image)" style="max-width: 30%;height: auto;"/>
                </dt>
                <dt><span jhiTranslate="hamrofoodmanduApp.food.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{food.unitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="hamrofoodmanduApp.food.description">Description</span></dt>
                <dd>
                    <span>{{food.description}}</span>
                </dd>
                <dt><span jhiTranslate="hamrofoodmanduApp.food.category">Category</span></dt>
                <dd>
                    <div *ngIf="food.categoryId">
                        <a [routerLink]="['/category', food.categoryId, 'view']">{{food.categoryName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hamrofoodmanduApp.food.resturant">Resturant</span></dt>
                <dd>
                    <div *ngIf="food.resturantId">
                        <a [routerLink]="['/resturant', food.resturantId, 'view']">{{food.resturantName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/food', food.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
